<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!--SOY UN COMENTARIO-->
    </head>
    <body>
        <section>
            <H1>soy un articulo cientifico</H1>
            <p class="resume">soy el resumen del articulo</p>
            <p>Soy el porimer parrafo</p>
            <ul>
                <li>OPCION 1</li> <!--añadir listas-->
                <li>Opcion 2</li>
            </ul>
            <img src="/images/photo.jpg" alt="grafica de resultados">
        </section>
        <footer>
            Soy un pié
        </footer>
        
    </body>
</html>